<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>

	<% include nav-bar%>

	<div class="container">
		<div class="row">
			<div class="text-danger col-sm-12 text-center">
			<h1><%= movieData.title %></h1>
			</div>
			<div class="col-sm-6 col-sm-offset-3">
				<form id="search-form" class="form-inline" action="/search" method="post">
					<input type="text" placeholder="Movie Trailer" name="searchString">
					<button type="submit" class="btn btn-primary">
						Search
					</button>
				</form>
			</div>
			<div class="col-sm-12 movies">
				<div class="col-sm-3">
					<img src="<%= imageBaseUrl + movieData.backdrop_path %>">
				</div>
			</div>
		</div>	
	</div>

</body>
</html>
